/* You can add global styles to this file, and also import other style files */
body{
    background-color: gray;
}

.btn.btn-primary{
    background-color: lightslategray;
    border-color: lightgray;
}

.btn.btn-primary:hover{
    background-color: darkgray;
    
}